* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    /* background-image: url(./Screenshot\ 2025-12-24\ 222411.png); */
    /* background-color: burlywood; */
    background-clip:url(./silhouette-lofi-girl-watching-the-sundown-with-cat-moewalls-com.mp4);
}
#main video{
    /* margin-left: -50px; */
    width: 100%;
    height: 100%;
     background-size: cover;
   background-repeat: no-repeat;
   scale: calc(1.2);
}

.box {
    position: absolute;
    top: 50%;
    left: 2%;
    background-image: url(IMG-20241219-WA0029.jpg);
    transform: translate(-10%, -50%);
    width: 220px;
    height: 220px;
    box-shadow: 10px 10px 20px black;
    border-radius: 50%;
    background-size: cover;
    background-color: rgb(220, 53, 187);
}