* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    background-color: cyan;
}

.box {
    position: absolute;
    top: 50%;
    left: 2%;
    background-image: url(./IMG-20241219-WA0029);
    transform: translate(-10%, -50%);
    width: 200px;
    height: 200px;
    box-shadow: 10px 10px 20px black;
    border-radius: 50%;
    background-size: cover;


    background-color: rgb(220, 53, 187);

}

